*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F2F2;
    height: 100vh;
    background-image: url(assets/image-hero-mobile.png);
    background-repeat: no-repeat; 
    background-position-x: center ; 
    background-position-y: 410px;
}
.Top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    padding: 22px 16px 0 16px;
    display: flex;
    flex-direction: column;

}
.nav{

    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-left: -28px;
    
}
.logo-top{
    width: 89px;
    height: 35px;
    margin-top: 10px;
}
.btn-top{
    background: #13183F;
    border-radius: 28px;
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 9px 24px 11px 24px;
    border: 0;
}
h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    margin-bottom: 26px;
    width: 343px;
}
p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    width: 343px;
}
.main-txt{
    margin-bottom: 24px;
    width: 343px;
}
.middle{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 15px 37px 15px 38px;
    border: 0;
    margin-bottom: 413px;
}
.sec1{

    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    margin-bottom: 40px;
    width: 343px;
    margin-left: auto;
    margin-right: auto;
   
}
h2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 286px;
    padding: 24px 29px 32px 28px;
}
#sec {
    background: #FFFFFF;
    box-shadow: 0px 25px 50px
                 rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    width: 343px;
    height: 259px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin: 24px auto 16px 28px;
}
.mid-container p{
    margin-left: 28px;
    margin-bottom: 24px;
    width: 286px;
}
img{
    margin-top: -24px;
    margin-left: 28px;
}
.mid-container button{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    margin-left: 28px;
    text-decoration: none;
    border: 0;
    background-color: #FFFFFF;    

}
.ftr{
    background: #13183F;
    justify-content: space-between;
    height: 120px;
    display: flex;
}
.logo-bot{
    margin-top: 40px;
    width: 89px;
    height: 35px;
}
.btn-bot{
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 28px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 9px 24px 11px 24px;
    height: 48px;
    border: 0;
    margin: 36px 16px auto auto;
}
@media (min-width:768px){
    .Top-container{
        align-items: start;
    }
    .container{
        padding-left: 39px ;
    }
    .mid-container{
        background-image: none;
        display: grid;
        grid-template-columns: 50% 50%;

    }
    body{
        background-image: url(assets/image-hero-tablet.png);
        background-position: calc(100% + 300px) -100px;
        background-repeat: no-repeat;
    }
    .sec1{
        width: 340px;
        height: 259px;
        
    }
    #sec{
        width: 340px;
        height: 259px;
        margin-bottom: 56px;
    }
    .sec-768{
        margin-left: 11px;
    }
    .middle{
        margin-bottom: 186px;
    }
    h1{
        width: 326px;
    }
    .main-txt{
        width: 398px;
    }
    .ftr{
        padding-left:40px ;
        padding-right: 40px;
    }

}
@media (min-width:1440px){
    body{
        background-position: calc(100% + 200px) -90px;
    }
    .container{
        padding-left: 165px;
        padding-right: 165px;
    }
    h1{
        width: 457px;
        font-size: 56px;
        line-height: 71px;
        margin-bottom: 29px;
    }
    .main-txt{
        width: 445px;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 40px;
        
    }
    h2{
        padding: 0;
        font-size: 32px;
        line-height: 40px;
        margin-top: 64px;
        margin-left: 32px;
    }
    .mid-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    #sec{
        margin-bottom: 80px;

    }
    .btn-top:hover{
        cursor: pointer;
        transition: 0.5s;
        background: #666CA3;
        border-radius: 28px;
    }
    .middle:hover{
        cursor: pointer;
        transition: 0.5s;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }
    .btn-bot:hover{
        cursor: pointer;
        transition: 0.5s;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }
    .ftr{
        padding-left:165px ;
        padding-right: 165px;
    }

}